    .slide-menu {
    background-color: #1E213A;
    width: 38%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
  }
  
  .slide-menu.active {
    left: 0;
    transition: 350ms;
  }
  
  
