body
{
  font-family: 'Raleway';
}

.sidebar
{
  background-color: #1E213A;
  min-height : 100vh;
  width : 38%;
  color : #a09fb1;;
  position: static;
}
.sidebar:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: .05;
  background: #1e213a url('./images/Cloud-background.png') no-repeat -17% 15%;
}

.main
{
  background-color: #100E1D;
  min-height : 100vh;
  width : 62%;
  color : white;
  z-index : 1;
}
.content
{
  display : flex;
}
body
{
  margin : 0;
}
#container {
  margin: 20px;
  width: 400px;
  height: 8px;
  position: relative;
}
progress {
  background: crimson;
  height: 8px;
  width : 200px;
}

progress {
  color: lightblue;
  
}

progress::-webkit-progress-value {
  background: lightblue;
  border-radius: 10px;

}

progress::-moz-progress-bar {
  background: lightcolor;
  border-radius: 10px;

}

progress::-webkit-progress-value {
  background: yellow;
  border-radius: 10px;

}

progress::-webkit-progress-bar {
  background: #DCDCDC		;
  border-radius: 10px;

}


/* Sidebar */

.location-button
{
  display:inline-block;
  text-decoration:none;
  font-weight:300;
  color : #e7e7eb; 
  background-color: #6e707a;
  text-align:center;
  font-size: 1em;
  border : none;
  border-radius: 50%;
  padding : 10px;
  display : flex;
  justify-content: center;
  align-items : center;
}
.location-logo
{
  font-size : 1.5em;
}
.sidebar-actions
{
  display : flex;
  justify-content: space-between;
  margin : 40px;
}