.sidebar
{
  background-color: #1E213A;
  min-height : 100vh;
  width : 38%;
  color : white;
}
.main
{
  background-color: #100E1D;
  min-height : 100vh;
  width : 62%;
  color : white;
}
.content
{
  display : flex;
}
body
{
  margin : 0;
}